
nav{
  background-image:linear-gradient(to bottom, #251d1b,rgb(179, 34, 179));
  position:fixed;
  width:100%;
}
nav .nav-link{
    color:white;
}
.nav-2{
    font-size:12px;
}
.search{
    max-width:60rem;
 margin:auto;
}
footer{
    background-color:rgb(250, 243, 243);
    font-size:12px;
    border-top:solid 3px violet;
    margin-top:50px;
}
.description{
    width:150px;
}
.signup{
    background-color: red;
    color:red;
}

